%nav{:class => "primary-menu", :role => "navigation"}
  %ul{:class => "menu"}
    %li{:class => "menu__item"}
      %a{:class => "menu__link", :href => "/"}
        Home

    - if is_logged_in
      %li{:class => "menu__item"}
        %a{:class => "menu__link", :href => "/admin"}
          Admin
        %ul{:class => "menu__dropdown"}
          %li{:class => "menu__item"}
            %a{:class => "menu__link", :href => "/admin/users"}
              Users
            %ul{:class => "menu__dropdown"}
              %li{:class => "menu__item"}
                %a{:class => "menu__link", :href => "/admin/users/new"}
                  New User

    - if current_user.nil?
      %li{:class => "menu__item"}
        %a{:class => "menu__link", :href => "/login"}
          Login
    - else
      %li{:class => "menu__item"}
        %a{:class => "menu__link", :href => "/logout"}
          Logout
