%nav{:class => "primary-menu", :role => "navigation"}
  %ul{:class => "menu"}
    %li{:class => "menu__item"}
      %a{:class => "menu__link", :href => "/"}
        Home
    %li{:class => "menu__item"}
      %a{:class => "menu__link", :href => "/page"}
        Page
