%form{:method => "post", :action => "/posts/new"}
  %input{:type => "text", :name => "post[title]", :placeholder => "Post Title"}
  %textarea{:name => "post[content]", :placeholder => "Post Content"}
  %button{:role => "submit"} Save
