%h1 New User
%form{:class => "", :method => "post", :action => "/admin/users/new"}
  %div{:class => ""}
    %label{class: "", for: ""} Username
    %input{:class => "", :id => "", :name => "user[username]", :type => "text", :placeholder => "Username"}
  %div{:class => ""}
    %label{class: "", for: ""} Password
    %input{:class => "", :id => "", :name => "user[password]", :type => "password", :placeholder => "Password"}
  %div{:class => ""}
    %label{class: "", for: ""} Password (confirmation)
    %input{:class => "", :id => "", :name => "user[password_confirmation]", :type => "password", :placeholder => "Password"}
  %div{:class => ""}
    %button{class: "button"} Save
