%h1 Login
%form{:class => "", :method => "post", :action => "/login"}
  %div{:class => ""}
    %label{class: "", for: ""} Username
    %input{:class => "", :id => "", :name => "user[username]", :type => "text", :placeholder => "Username", :autofocus => "autofocus"}
  %div{:class => ""}
    %label{class: "", for: ""} Password
    %input{:class => "", :id => "", :name => "user[password]", :type => "password", :placeholder => "Password"}
  %div{:class => ""}
    %button{class: "button"} Login
