%h1 Login
%form{:class => ""}
  %div{:class => ""}
    %label{class: "", for: ""} Email Address
    %input{:class => "", :id => "", :name => "user[email]", :type => "email", :placeholder => "you@domain.tld", :autofocus => "autofocus"}
  %div{:class => ""}
    %label{class: "", for: ""} Password
    %input{:class => "", :id => "", :name => "user[password]", :type => "password", :placeholder => "Password"}
  %div{:class => ""}
    %button{class: "button"} Login
